.cards {
  position: relative;
  width: 100%;
  height: 400lvh; /* porque tienes 4 tarjetas */
}

.card-scroll-triggers {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 100lvh;
  display: flex;
  flex-direction: column;
}

.card-scroll-triggers div {
  width: 100%;
  flex-grow: 1;
  writing-mode: vertical-rl;
  opacity: 0; /* ocultamos los triggers */
}

.cards__inner {
  position: sticky;
  top: 0;
  height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: sticky;
  top: 0;
  min-width: 60vw;
  max-width: 80vw;
  padding: 2rem;
  border-radius: 2rem;
  font-family: var(--font-raleway);
  background: var(--color-white-ivory);
  border: 3px solid var(--color-gold);
  text-align: center;
  transform: translateX(-75vw);
  rotate: -10deg;
}

.card:nth-of-type(odd) {
  transform: translateX(75vw);
  rotate: 10deg;
}
.card:nth-of-type(1) {
  rotate: 0;
}

@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .card {
      animation-name: to-center;
      animation-fill-mode: both;
      animation-range: entry 100lvh exit;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes to-center {
  70% {
    rotate: 0deg;
  }
  100% {
    transform: translateX(0);
    rotate: 0deg;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
